<nav class="p-3">
  <div class="navbar bg-base-200 rounded-lg">
    <div class="flex flex-nowrap space-x-2 w-full justify-center">
      <input type="text" placeholder="Product designer" class="input input-bordered w-full max-w-xs grow " />
      <select class="select w-full max-w-xs shrink">
        <option disabled selected>$45.000/year</option>
      </select>
      <select class="select w-full max-w-xs shrink">
        <option disabled selected>Full-time</option>
      </select>
      <select class="select w-full max-w-xs shrink">
        <option disabled selected>Anywhere</option>
      </select>
      <button class="btn btn-primary shrink">Find offers</button>
    </div>
  </div>
</nav>
<div class="drawer drawer-mobile">
  <input id="drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-row space-x-2 p-3">
    <!-- Page content here -->
    <main class="w-full p-1 space-y-3">
      <div class="card card-side bg-base-100 shadow-xl">
        <div class="card-body">
          <h3 class="card-subtitle">Microsoft</h3>
          <h1 class="card-title">Product designer</h1>
          <div class="flex flex-row">
            <p class="font-thin">50.000USD/year</p>
            <p class="font-thin">Full-time</p>
            <p class="font-thin">New-York</p>
          </div>
          <p>The ideal candidates is a team leader who is able to make effective decisions quickly. Ultimately,
            recruiting managers will manage our recruitment to ensure we hire qualified emplo...<a
              class="link link-primary">Read more</a></p>
          <div class="card-actions flex justify-between my-3">
            <button class="btn btn-primary">Suggest</button>
            <p class="grow-0">Suggest reward: 500USD</p>
          </div>
        </div>
      </div>
      <div class="card card-side bg-base-100 shadow-xl">
        <div class="card-body">
          <h3 class="card-subtitle">Microsoft</h3>
          <h1 class="card-title">Product designer</h1>
          <div class="flex flex-row">
            <p class="font-thin">50.000USD/year</p>
            <p class="font-thin">Full-time</p>
            <p class="font-thin">New-York</p>
          </div>
          <p>The ideal candidates is a team leader who is able to make effective decisions quickly. Ultimately,
            recruiting managers will manage our recruitment to ensure we hire qualified emplo...<a
              class="link link-primary">Read more</a></p>
          <div class="card-actions flex justify-between my-3">
            <button class="btn btn-primary">Suggest</button>
            <p class="grow-0">Suggest reward: 500USD</p>
          </div>
        </div>
      </div>
      <div class="card card-side bg-base-100 shadow-xl">
        <div class="card-body">
          <h3 class="card-subtitle">Microsoft</h3>
          <h1 class="card-title">Product designer</h1>
          <div class="flex flex-row">
            <p class="font-thin">50.000USD/year</p>
            <p class="font-thin">Full-time</p>
            <p class="font-thin">New-York</p>
          </div>
          <p>The ideal candidates is a team leader who is able to make effective decisions quickly. Ultimately,
            recruiting managers will manage our recruitment to ensure we hire qualified emplo...<a
              class="link link-primary">Read more</a></p>
          <div class="card-actions flex justify-between my-3">
            <button class="btn btn-primary">Suggest</button>
            <p class="grow-0">Suggest reward: 500USD</p>
          </div>
        </div>
      </div>
      <div class="card card-side bg-base-100 shadow-xl">
        <div class="card-body">
          <h3 class="card-subtitle">Microsoft</h3>
          <h1 class="card-title">Product designer</h1>
          <div class="flex flex-row">
            <p class="font-thin">50.000USD/year</p>
            <p class="font-thin">Full-time</p>
            <p class="font-thin">New-York</p>
          </div>
          <p>The ideal candidates is a team leader who is able to make effective decisions quickly. Ultimately,
            recruiting managers will manage our recruitment to ensure we hire qualified emplo...<a
              class="link link-primary">Read more</a></p>
          <div class="card-actions flex justify-between my-3">
            <button class="btn btn-primary">Suggest</button>
            <p class="grow-0">Suggest reward: 500USD</p>
          </div>
        </div>
      </div>
    </main>

    <aside class="space-y-4 hidden lg:block">
      <div class="card w-96 glass">
        <div class="card-body">
          <h2 class="card-title">Do you know a perspective candidate to recommend?</h2>
          <p>Refer him to us and receive a reward when he accepts an offer</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary">Suggest a friend</button>

          </div>
        </div>
      </div>
      <div class="card w-96 glass">
        <div class="card-body">
          <h2 class="card-title">Create a subscription for a candidate</h2>
          <p>Just enter your email to get all new jobs according to your search filters</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary">Create job alert</button>
          </div>
        </div>
      </div>
    </aside>

  </div>
  <div class="drawer-side">
    <label for="drawer" class="drawer-overlay"></label>
    <ul class="menu p-4 w-80 bg-base-100 text-base-content">
      <!-- Sidebar content here -->
      <div>
        <p>Salary range</p>
        <div class="form-control">
          <label class="label cursor-pointer">
            <span class="label-text">30.000$ - 50.000$</span>
            <input type="checkbox" checked="checked" class="checkbox checkbox-primary checkbox-sm" />
          </label>
          <label class="label cursor-pointer">
            <span class="label-text">10.000$ - 20.000$</span>
            <input type="checkbox" class="checkbox checkbox-primary checkbox-sm" />
          </label>
          <label class="label cursor-pointer">
            <span class="label-text">1.000$ - 10.000$</span>
            <input type="checkbox" class="checkbox checkbox-primary checkbox-sm" />
          </label>
        </div>
      </div>
      <div>
        <p>Location</p>
        <div class="form-control">
          <label class="label cursor-pointer">
            <span class="label-text">Sidney</span>
            <input type="checkbox" checked="checked" class="checkbox checkbox-primary checkbox-sm" />
          </label>
          <label class="label cursor-pointer">
            <span class="label-text">Alabama</span>
            <input type="checkbox" checked="checked" class="checkbox checkbox-primary checkbox-sm" />
          </label>
          <label class="label cursor-pointer">
            <span class="label-text">Oslo</span>
            <input type="checkbox" checked="checked" class="checkbox checkbox-primary checkbox-sm" />
          </label>
          <label class="label cursor-pointer">
            <span class="label-text">New-York</span>
            <input type="checkbox" checked="checked" class="checkbox checkbox-primary checkbox-sm" />
          </label>
          <label class="label cursor-pointer">
            <span class="label-text">Odessa</span>
            <input type="checkbox" checked="checked" class="checkbox checkbox-primary checkbox-sm" />
          </label>
        </div>
      </div>
      <div>
        <p>Work type</p>
        <div class="form-control">
          <label class="label cursor-pointer">
            <span class="label-text">Permanent</span>
            <input type="checkbox" class="checkbox checkbox-primary checkbox-sm" />
          </label>
          <label class="label cursor-pointer">
            <span class="label-text">Full-time</span>
            <input type="checkbox" checked="checked" class="checkbox checkbox-primary checkbox-sm" />
          </label>
        </div>
      </div>
    </ul>

  </div>
</div>
